.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mb-3 {
  width: 30em;
}
.form {
  margin-left: 5em;
  margin-top: 2em;
}

.Workout {
  /* margin-left: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.workout-form {
  margin-top: 1.5em;
  width: 50em;
  margin-left: 10em;
}

.picker {
  max-width: 3em;
  padding-top: 3em;
}

.workout-header {
  text-align: center;
  margin-top: 2em;
}

.workout-column1 {
  width: 100px;
}

.counter {
  height: 2em;
  width: 120px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div

.box {
  width: 120px;
  height: 40px;
  background-color: rgba(255,255,255,0.6);
  border: black solid 1px;
  /* border-radius: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);

}

.box .text {
  font-size: 20px;
  width: 50px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}

.box .btn {
  height: 100%;
  width: 100px; 
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
Ç
.form-box {
  align-items: center;
}

.date-col {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.exercise-col {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;

}
.duration-col {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;

}

.counter {
  width: 3px;
  padding-left: 4px;
}

.main {
  border: 1px solid black;
  width: 100%;
  margin: 10px;
  height: 100%;

}

.water-img {
  margin: 20px;
}

.water-header {
  padding-top: 20px;
  color: white;
  text-align: center;
}

.activity-banner {
  height: 10em;
  padding: 2.5em;
}

.activity-title {
  /* padding-top: 40px; */
  text-align: center;
  color: white;
  background-color: black;
  border: 4px solid gray;
  width: 10em;
  margin: auto;
}

.activity-report {
  padding-top: 5em;
  margin-left: 20em;
}

.water-intake-banner {
  height: 10em;
  padding: 2.5em;
}

.water-intake-title {
  text-align: center;
  border: 1px solid white;
  color: white;
  width: 10em;
  margin: auto;
}

.water-intake-report {
  padding-top: 5em;
  margin-left: 20em;
}

.water-intake-row-2 {
  margin-left: 5em;
}

.water-content {
  margin-left: 6em;
  margin-top: 5em;
  width: 80%;
}

.workout-banner {
  /* margin: 1px; */
  padding: 1em;
  height: 7em;

}

.workout-title {
  height: 2em;
  margin: auto;
  border: 5px solid white;
  background-color: #9E9886;
  color: black;
  text-align: center;
  width: 10em;
  padding: 7px;
}

.workout-report {
  /* margin-top: 2em; */
  /* margin-left: 1px;  */
  margin-right: 1px
}

.calorie-report {
  margin-top: 3em;
  margin-left: 25em;
}

.calorie-title {
  text-align: center;
  height: 1.5em;
  margin: auto;
  padding: 4px;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
  width: 10em;
}

.calorie-banner {
  height: 10em;
  border: 5px  gray;
  background-color: lightblue;
  border-style: outset;
  padding: 3em;
}

.calorie-form {
  /* margin-top: 1.5em; */
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50em;
  margin-left: 15em;
}

.about {
  width: 50em;
  margin: auto;
  
}

.about h1 {
  padding-top: 2em;
  text-align: center;
}

.about-card {
  margin-top: 2em;
}